<div class="row mt-5">
  <div class="col-3">
    <input [(ngModel)]="hero.name" type="text" class="form-control m-1" placeholder="name">
  </div>
  <div class="col-3">
    <input [(ngModel)]="hero.power" type="text" class="form-control m-1" placeholder="power">
  </div>
  <div class="col-3">
    <input type="text" [(ngModel)]="hero.imageurl"class="form-control m-1" placeholder="imageurl">
  </div>
  <div class="col-3">
    <button (click)="update()" type="button" class="btn form-control m-1 text-light bg-black"> update</button>
  </div>
</div>
